// Mixins Here
.btnminin(@fsmix,@fwmix,@padmix,@radmix,@bgmix,@fcolmix,@widthmix) {
  font-size: @fsmix;
  font-weight: @fwmix;
  padding: @padmix;
  border-radius: @radmix;
  background: @bgmix;
  color: @fcolmix;
  width: @widthmix;
  &:hover {
    background: @fcolmix;
    color: @bgmix;
  }
}

/*NOt really needed but for MVP mixins*/
.navlinksmix() {
  color: @nav-font;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 10px;
  margin: 5px;
//  border: 1px solid black;
  border-radius:5px;
}

.overflowbackgrounmix() {
  background: @nav-bg;
  background-color: rgba(246,246,246,0.3);/*opacity for the stretch*/
  width: 100%;
}
